.root { 
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}


.label{
    -fx-text-fill: #4cae0f;
}

.label1{
    -fx-text-fill: #f5f22a;
}
.pane-background {
    -fx-background-image: url("/bucksimulator/images/BlackBuck_1.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background1 {
    -fx-background-image: url("/bucksimulator/images/splashImage1.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background2 {
    -fx-background-image: url("/bucksimulator/images/splashImage2.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background3 {
    -fx-background-image: url("/bucksimulator/images/splashImage3.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background4 {
    -fx-background-image: url("/bucksimulator/images/splashImage4.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background5 {
    -fx-background-image: url("/bucksimulator/images/splashImage5.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background6 {
    -fx-background-image: url("/bucksimulator/images/splashImage6.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background7 {
    -fx-background-image: url("/bucksimulator/images/splashImage7.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}
.pane-background8 {
    -fx-background-image: url("/bucksimulator/images/splashImage8.png");
    -fx-background-size: stretch;
    -fx-opacity: 0.25;
    -fx-padding: 0 0 0 0;
}